In [2]:
%%capture
%load_ext sql
%sql sqlite:///factbook.db

'Connected: None@factbook.db'

In [4]:
%%sql
SELECT *
  FROM facts
LIMIT 5

Done.

[(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51),
 (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3),
 (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92),
 (4, 'an', 'Andorra', 468, 468, 0, 85580, 0.12, 8.13, 6.96, 0.0),
 (5, 'ao', 'Angola', 1246700, 1246700, 0, 19625353, 2.78, 38.78, 11.49, 0.46)]

In [9]:
%%sql
SELECT MIN(population) as Min_Population,
       MAX(population) as Max_Population,
       MIN(population_growth) as Min_Pop_Growth,
       MAX(population_growth) as Max_Pop_Growth
FROM facts

Done.

[(0, 7256490011, 0.0, 4.02)]

Interesting - min population of 0, and max population greater than 7.2bn.

Writing a query to return countries with min population:

In [7]:
%%sql
SELECT *
FROM facts
WHERE population == (SELECT min(population)
                     FROM facts)

Done.

[(250, 'ay', 'Antarctica', None, 280000, None, 0, None, None, None, None)]

Writing a query to return countries with max population:

In [8]:
%%sql
SELECT *
FROM facts
WHERE population == (SELECT MAX(population)
                    FROM facts)

Done.

[(261, 'xx', 'World', None, None, None, 7256490011, 1.08, 18.6, 7.8, None)]

Table 'facts' in the database includes a row for 'Total World'.

Recalculating statistics above excluding whole world row:

In [11]:
%%sql
SELECT MIN(population) as Min_Population,
       MAX(population) as Max_Population,
       MIN(population_growth) as Min_Pop_Growth,
       MAX(population_growth) as Max_Pop_Growth
FROM facts
WHERE name <> 'World'

Done.

[(0, 1367485388, 0.0, 4.02)]

### Reviewing Population Density

Calculating average of 'population' and 'area' columns to review population density, and exluding 'total world' row:

In [18]:
%%sql
SELECT AVG(population) AS avg_pop, AVG(area) AS avg_area
FROM facts
WHERE name <> 'World'

Done.

[(32242666.56846473, 555093.546184739)]

Identifying countries that are densely populated:

- above-average values for population
- below-average values for area

In [20]:
%%sql
SELECT *
FROM facts
WHERE population > (SELECT AVG(population)
                    FROM facts
                    WHERE name <> 'World')
    AND area < (SELECT AVG(area)
               FROM facts
               WHERE name <> 'World')

Done.

[(14, 'bg', 'Bangladesh', 148460, 130170, 18290, 168957745, 1.6, 21.14, 5.61, 0.46),
 (65, 'gm', 'Germany', 357022, 348672, 8350, 80854408, 0.17, 8.47, 11.42, 1.24),
 (80, 'iz', 'Iraq', 438317, 437367, 950, 37056169, 2.93, 31.45, 3.77, 1.62),
 (83, 'it', 'Italy', 301340, 294140, 7200, 61855120, 0.27, 8.74, 10.19, 4.1),
 (85, 'ja', 'Japan', 377915, 364485, 13430, 126919659, 0.16, 7.93, 9.51, 0.0),
 (91, 'ks', 'Korea, South', 99720, 96920, 2800, 49115196, 0.14, 8.19, 6.75, 0.0),
 (120, 'mo', 'Morocco', 446550, 446300, 250, 33322699, 1.0, 18.2, 4.81, 3.36),
 (138, 'rp', 'Philippines', 300000, 298170, 1830, 100998376, 1.61, 24.27, 6.11, 2.09),
 (139, 'pl', 'Poland', 312685, 304255, 8430, 38562189, 0.09, 9.74, 10.19, 0.46),
 (163, 'sp', 'Spain', 505370, 498980, 6390, 48146134, 0.89, 9.64, 9.04, 8.31),
 (173, 'th', 'Thailand', 513120, 510890, 2230, 67976405, 0.34, 11.19, 7.8, 0.0),
 (182, 'ug', 'Uganda', 241038, 197100, 43938, 37101745, 3.24, 43.79, 10.69, 0.74),
 (185, 'uk', 'United Kingdom', 243610, 241930, 1680, 64088222, 0.54, 12.17, 9.35, 2.54),
 (192, 'vm', 'Vietnam', 331210, 310070, 21140, 94348835, 0.97, 15.96, 5.93, 0.3)]

### Next Steps

##### Which country has the most people? Which country has the highest growth rate?

In [22]:
%%sql
SELECT name, MAX(population) AS max_population
FROM facts
WHERE name <> 'World'

Done.

[('China', 1367485388)]

In [23]:
%%sql
SELECT name, MAX(population_growth) AS max_growth
FROM facts
WHERE name <> 'World'

Done.

[('South Sudan', 4.02)]

##### Which countries have the highest ratios of water to land? Which countries have more water than land?

In [38]:
%%sql
SELECT name, ROUND(CAST(area_water/area_land AS FLOAT),4) AS water_land_ratio
FROM facts
WHERE name <> 'World'
ORDER BY water_land_ratio DESC
LIMIT 5

Done.

[('British Indian Ocean Territory', 905.0),
 ('Virgin Islands', 4.0),
 ('Afghanistan', 0.0),
 ('Albania', 0.0),
 ('Algeria', 0.0)]

In [39]:
%%sql
SELECT *
FROM facts
WHERE area_water > area_land

Done.

[(228, 'io', 'British Indian Ocean Territory', 54400, 60, 54340, None, None, None, None, None),
 (247, 'vq', 'Virgin Islands', 1910, 346, 1564, 103574, 0.59, 10.31, 8.54, 7.67)]

##### Which countries will add the most people to their populations next year?

In [43]:
%%sql
SELECT name, ROUND(CAST(population*population_growth AS FLOAT),2) AS population_add
FROM facts
WHERE name <> 'World'
ORDER BY population_add desc
LIMIT 5

Done.

[('India', 1527068612.48),
 ('China', 615368424.6),
 ('Nigeria', 444827037.2),
 ('Pakistan', 290665336.62),
 ('Ethiopia', 287456216.91)]

##### Which countries have a higher death rate than birth rate?

In [45]:
%%sql
SELECT *
FROM facts
WHERE death_rate > birth_rate
 AND name <> 'World'

Done.

[(10, 'au', 'Austria', 83871, 82445, 1426, 8665550, 0.55, 9.41, 9.42, 5.56),
 (16, 'bo', 'Belarus', 207600, 202900, 4700, 9589689, 0.2, 10.7, 13.36, 0.7),
 (22, 'bk', 'Bosnia and Herzegovina', 51197, 51187, 10, 3867055, 0.13, 8.87, 9.75, 0.38),
 (26, 'bu', 'Bulgaria', 110879, 108489, 2390, 7186893, 0.58, 8.92, 14.44, 0.29),
 (44, 'hr', 'Croatia', 56594, 55974, 620, 4464844, 0.13, 9.45, 12.18, 1.39),
 (47, 'ez', 'Czech Republic', 78867, 77247, 1620, 10644842, 0.16, 9.63, 10.34, 2.33),
 (57, 'en', 'Estonia', 45228, 42388, 2840, 1265420, 0.55, 10.51, 12.4, 3.6),
 (65, 'gm', 'Germany', 357022, 348672, 8350, 80854408, 0.17, 8.47, 11.42, 1.24),
 (67, 'gr', 'Greece', 131957, 130647, 1310, 10775643, 0.01, 8.66, 11.09, 2.32),
 (75, 'hu', 'Hungary', 93028, 89608, 3420, 9897541, 0.22, 9.16, 12.73, 1.33),
 (83, 'it', 'Italy', 301340, 294140, 7200, 61855120, 0.27, 8.74, 10.19, 4.1),
 (85, 'ja', 'Japan', 377915, 364485, 13430, 126919659, 0.16, 7.93, 9.51, 0.0),
 (96, 'lg', 'Latvia', 64589, 62249, 2340, 1986705, 1.06, 10.0, 14.31, 6.26),
 (102, 'lh', 'Lithuania', 65300, 62680, 2620, 2884433, 1.04, 10.1, 14.27, 6.27),
 (116, 'md', 'Moldova', 33851, 32891, 960, 3546847, 1.03, 12.0, 12.59, 9.67),
 (117, 'mn', 'Monaco', 2, 2, 0, 30535, 0.12, 6.65, 9.24, 3.83),
 (139, 'pl', 'Poland', 312685, 304255, 8430, 38562189, 0.09, 9.74, 10.19, 0.46),
 (140, 'po', 'Portugal', 92090, 91470, 620, 10825309, 0.09, 9.27, 11.02, 2.67),
 (142, 'ro', 'Romania', 238391, 229891, 8500, 21666350, 0.3, 9.14, 11.9, 0.24),
 (143, 'rs', 'Russia', 17098242, 16377742, 720500, 142423773, 0.04, 11.6, 13.69, 1.69),
 (153, 'ri', 'Serbia', 77474, 77474, 0, 7176794, 0.46, 9.08, 13.66, 0.0),
 (158, 'si', 'Slovenia', 20273, 20151, 122, 1983412, 0.26, 8.42, 11.37, 0.37),
 (183, 'up', 'Ukraine', 603550, 579330, 24220, 44429471, 0.6, 10.72, 14.46, 2.25),
 (214, 'sb', 'Saint Pierre and Miquelon', 242, 242, 0, 5657, 1.08, 7.42, 9.72, 8.49)]

##### Which countries have the highest population/area ratio, and how does it compare to list we found in the review of the population density?

In [48]:
%%sql
SELECT name, population, population/area AS pop_area
FROM facts
WHERE name <> 'World'
ORDER BY pop_area DESC

Done.

[('Macau', 592731, 21168),
 ('Monaco', 30535, 15267),
 ('Singapore', 5674472, 8141),
 ('Hong Kong', 7141106, 6445),
 ('Gaza Strip', 1869055, 5191),
 ('Gibraltar', 29258, 4876),
 ('Bahrain', 1346613, 1771),
 ('Maldives', 393253, 1319),
 ('Malta', 413965, 1310),
 ('Bermuda', 70196, 1299),
 ('Sint Maarten', 39689, 1167),
 ('Bangladesh', 168957745, 1138),
 ('Guernsey', 66080, 847),
 ('Jersey', 97294, 838),
 ('Barbados', 290604, 675),
 ('Mauritius', 1339827, 656),
 ('Taiwan', 23415126, 650),
 ('Aruba', 112162, 623),
 ('Lebanon', 6184701, 594),
 ('Saint Martin', 31754, 588),
 ('San Marino', 33020, 541),
 ('Korea, South', 49115196, 492),
 ('Rwanda', 12661733, 480),
 ('West Bank', 2785366, 475),
 ('Nauru', 9540, 454),
 ('Tuvalu', 10869, 418),
 ('Netherlands', 16947904, 407),
 ('Marshall Islands', 72191, 398),
 ('Israel', 8049314, 387),
 ('Burundi', 10742276, 385),
 ('India', 1251695584, 380),
 ('Belgium', 11323973, 370),
 ('Haiti', 10110019, 364),
 ('Comoros', 780971, 349),
 ('Philippines', 100998376, 336),
 ('Sri Lanka', 22053488, 336),
 ('Japan', 126919659, 335),
 ('Curacao', 148406, 334),
 ('Grenada', 110694, 321),
 ('Guam', 161785, 297),
 ('El Salvador', 6141350, 291),
 ('Vietnam', 94348835, 284),
 ('American Samoa', 54343, 273),
 ('Jamaica', 2950210, 268),
 ('Saint Lucia', 163922, 266),
 ('Saint Vincent and the Grenadines', 102627, 263),
 ('United Kingdom', 64088222, 263),
 ('Puerto Rico', 3598357, 260),
 ('Pakistan', 199085847, 250),
 ('Trinidad and Tobago', 1222363, 238),
 ('Liechtenstein', 37624, 235),
 ('Germany', 80854408, 226),
 ('British Virgin Islands', 33454, 221),
 ('Luxembourg', 570252, 220),
 ('Dominican Republic', 10478756, 215),
 ('Nepal', 31551305, 214),
 ('Cayman Islands', 56092, 212),
 ('Antigua and Barbuda', 92436, 209),
 ('Korea, North', 24983205, 207),
 ('Italy', 61855120, 205),
 ('Seychelles', 92430, 203),
 ('Sao Tome and Principe', 194006, 201),
 ('Saint Kitts and Nevis', 51936, 198),
 ('Nigeria', 181562056, 196),
 ('Switzerland', 8121830, 196),
 ('Qatar', 2194817, 189),
 ('Andorra', 85580, 182),
 ('Anguilla', 16418, 180),
 ('Gambia, The', 1967709, 174),
 ('Kosovo', 1870981, 171),
 ('Kuwait', 2788534, 156),
 ('Uganda', 37101745, 153),
 ('Isle of Man', 87545, 153),
 ('Malawi', 17964697, 151),
 ('Micronesia, Federated States of', 105216, 149),
 ('China', 1367485388, 142),
 ('Tonga', 106501, 142),
 ('Guatemala', 14918999, 137),
 ('Cabo Verde', 545993, 135),
 ('Czech Republic', 10644842, 134),
 ('Indonesia', 255993674, 134),
 ('Thailand', 67976405, 132),
 ('Togo', 7552318, 132),
 ('Kiribati', 105711, 130),
 ('Denmark', 5581503, 129),
 ('Cyprus', 1189197, 128),
 ('Akrotiri', 15700, 127),
 ('Poland', 38562189, 123),
 ('Dhekelia', 15700, 120),
 ('European Union', 513949445, 118),
 ('Portugal', 10825309, 117),
 ('Azerbaijan', 9780780, 112),
 ('Northern Mariana Islands', 52344, 112),
 ('Slovakia', 5445027, 111),
 ('Tokelau', 1337, 111),
 ('Ghana', 26327649, 110),
 ('Wallis and Futuna', 15613, 109),
 ('Hungary', 9897541, 106),
 ('Albania', 3029278, 105),
 ('Moldova', 3546847, 104),
 ('Austria', 8665550, 103),
 ('France', 66553766, 103),
 ('Armenia', 3056382, 102),
 ('Turkey', 79414269, 101),
 ('Cuba', 11031433, 99),
 ('Dominica', 73607, 98),
 ('Slovenia', 1983412, 97),
 ('Spain', 48146134, 95),
 ('Costa Rica', 4814144, 94),
 ('Benin', 10448647, 92),
 ('Malaysia', 30513848, 92),
 ('Serbia', 7176794, 92),
 ('Syria', 17064854, 92),
 ('Ethiopia', 99465819, 90),
 ('Jordan', 8117564, 90),
 ('Romania', 21666350, 90),
 ('Egypt', 88487396, 88),
 ('Cambodia', 15708756, 86),
 ('Iraq', 37056169, 84),
 ('Burma', 56320206, 83),
 ('Swaziland', 1435613, 82),
 ('Timor-Leste', 1231116, 82),
 ('Greece', 10775643, 81),
 ('Macedonia', 2096015, 81),
 ('Sierra Leone', 5879098, 81),
 ('Kenya', 45925301, 79),
 ('Croatia', 4464844, 78),
 ('Honduras', 8746673, 78),
 ('Bosnia and Herzegovina', 3867055, 75),
 ('Brunei', 429646, 74),
 ('Morocco', 33322699, 74),
 ('Ukraine', 44429471, 73),
 ("Cote d'Ivoire", 23295302, 72),
 ('Senegal', 13975834, 71),
 ('Georgia', 4931226, 70),
 ('Burkina Faso', 18931686, 69),
 ('Ireland', 4892305, 69),
 ('Samoa', 197773, 69),
 ('United Arab Emirates', 5779760, 69),
 ('Tunisia', 11037225, 67),
 ('French Polynesia', 282703, 67),
 ('Uzbekistan', 29199942, 65),
 ('Bulgaria', 7186893, 64),
 ('Lesotho', 1947701, 64),
 ('Mexico', 121736809, 61),
 ('Norfolk Island', 2210, 61),
 ('Tajikistan', 8191958, 56),
 ('Ecuador', 15868396, 55),
 ('Eritrea', 6527689, 55),
 ('Virgin Islands', 103574, 54),
 ('Tanzania', 51045882, 53),
 ('Turks and Caicos Islands', 50280, 53),
 ('Montserrat', 5241, 51),
 ('Yemen', 26737317, 50),
 ('Afghanistan', 32564342, 49),
 ('Cameroon', 23739218, 49),
 ('Fiji', 909389, 49),
 ('Iran', 81824270, 49),
 ('Panama', 3657024, 48),
 ('Guinea', 11780162, 47),
 ('Guinea-Bissau', 1726170, 47),
 ('Belarus', 9589689, 46),
 ('Montenegro', 647073, 46),
 ('Palau', 21265, 46),
 ('Nicaragua', 5907881, 45),
 ('Lithuania', 2884433, 44),
 ('South Africa', 53675563, 44),
 ('Cocos (Keeling) Islands', 596, 42),
 ('Colombia', 46736728, 41),
 ('Cook Islands', 9838, 41),
 ('Madagascar', 23812681, 40),
 ('Liberia', 4195666, 37),
 ('Zimbabwe', 14229541, 36),
 ('Faroe Islands', 50196, 36),
 ('Djibouti', 828324, 35),
 ('Congo, Democratic Republic of the', 79375136, 33),
 ('United States', 321368864, 32),
 ('Venezuela', 29275460, 32),
 ('Mozambique', 25303113, 31),
 ('Latvia', 1986705, 30),
 ('Laos', 6911544, 29),
 ('Kyrgyzstan', 5664939, 28),
 ('Estonia', 1265420, 27),
 ('Equatorial Guinea', 740743, 26),
 ('Saint Helena, Ascension, and Tristan da Cunha', 7795, 25),
 ('Bahamas, The', 324597, 23),
 ('Brazil', 204259812, 23),
 ('Chile', 17508260, 23),
 ('Peru', 30444999, 23),
 ('Saint Pierre and Miquelon', 5657, 23),
 ('Vanuatu', 272264, 22),
 ('Solomon Islands', 622469, 21),
 ('Sweden', 9801616, 21),
 ('Zambia', 15066266, 20),
 ('Bhutan', 741919, 19),
 ('Sudan', 36108853, 19),
 ('South Sudan', 12042910, 18),
 ('Uruguay', 3341893, 18),
 ('Algeria', 39542166, 16),
 ('Finland', 5476922, 16),
 ('New Zealand', 4438393, 16),
 ('Norway', 5207689, 16),
 ('Paraguay', 6783272, 16),
 ('Somalia', 10616380, 16),
 ('Angola', 19625353, 15),
 ('Argentina', 43431886, 15),
 ('Belize', 347369, 15),
 ('Papua New Guinea', 6672429, 14),
 ('New Caledonia', 271615, 14),
 ('Congo, Republic of the', 4755097, 13),
 ('Mali', 16955536, 13),
 ('Saudi Arabia', 27752316, 12),
 ('Christmas Island', 1530, 11),
 ('Oman', 3286936, 10),
 ('Turkmenistan', 5231422, 10),
 ('Bolivia', 10800882, 9),
 ('Central African Republic', 5391539, 8),
 ('Russia', 142423773, 8),
 ('Gabon', 1705336, 6),
 ('Kazakhstan', 18157122, 6),
 ('Niue', 1190, 4),
 ('Botswana', 2182719, 3),
 ('Canada', 35099836, 3),
 ('Guyana', 735222, 3),
 ('Iceland', 331918, 3),
 ('Libya', 6411776, 3),
 ('Mauritania', 3596702, 3),
 ('Suriname', 579633, 3),
 ('Australia', 22751014, 2),
 ('Namibia', 2212307, 2),
 ('Western Sahara', 570866, 2),
 ('Mongolia', 2992908, 1),
 ('Pitcairn Islands', 48, 1),
 ('Greenland', 57733, 0),
 ('Svalbard', 1872, 0),
 ('Falkland Islands (Islas Malvinas)', 3361, 0),
 ('Chad', 11631456, None),
 ('Niger', 18045729, None),
 ('Holy See (Vatican City)', 842, None),
 ('Ashmore and Cartier Islands', None, None),
 ('Coral Sea Islands', None, None),
 ('Heard Island and McDonald Islands', None, None),
 ('Clipperton Island', None, None),
 ('French Southern and Antarctic Lands', None, None),
 ('Saint Barthelemy', 7237, None),
 ('Bouvet Island', None, None),
 ('Jan Mayen', None, None),
 ('British Indian Ocean Territory', None, None),
 ('South Georgia and South Sandwich Islands', None, None),
 ('Navassa Island', None, None),
 ('Wake Island', None, None),
 ('United States Pacific Island Wildlife Refuges', None, None),
 ('Antarctica', 0, None),
 ('Paracel Islands', None, None),
 ('Spratly Islands', None, None),
 ('Arctic Ocean', None, None),
 ('Atlantic Ocean', None, None),
 ('Indian Ocean', None, None),
 ('Pacific Ocean', None, None),
 ('Southern Ocean', None, None)]